\documentclass[{{ style.base_font_size }}, {{ "twoside" if style.twoside else "oneside" }}]{ {{- style.documentclass -}} }

\usepackage{fontspec}
\usepackage{tocloft}
\usepackage{multicol}
\usepackage[left={{ style.geometry.left }},right={{ style.geometry.right }},top={{ style.geometry.top }},bottom={{ style.geometry.bottom }}]{geometry}
\setmainfont[Scale={{ style.font.scale }},AutoFakeBold={{ style.font.auto_fake_bold }},AutoFakeSlant={{ style.font.auto_fake_slant }}]{ {{- style.font.family -}} }

{% for package in packages %}
{% if package not in ['fontspec', 'tocloft', 'multicol', 'geometry'] %}
\usepackage{ {{- package -}} }
{% endif %}
{% endfor %}

\title{ {{- title -}} }
\author{ {{- authorship.author -}} }
\date{ {{- authorship.version -}} }

\begin{document}

% Title page
\maketitle
\thispagestyle{empty}

% Copyright page
\newpage
\thispagestyle{empty}
\vspace*{\fill}
\begin{center}
    Copyright © {{ authorship.copyright }} {{ authorship.author }}\\
    All rights reserved.
\end{center}

% Table of contents
\vspace*{\fill}
\hrulefill
\vspace*{\fill}
\newpage 
\tableofcontents

% Recipe chapters (previously sections)
\vspace*{\fill}
\hrulefill
\vspace*{\fill}
\newpage 
{% for section_name, recipes in sections.items() %}
\chapter{ {{- section_name -}} }
{% for recipe in recipes %}
\input{% raw %}{{% endraw %}{{ recipe.extracted_body }}{% raw %}}{% endraw %}

{% endfor %}
{% endfor %}

% Index
\printindex

\end{document} 