\documentclass[{{ style.base_font_size }}, {{ "twoside" if style.twoside else "oneside" }}]{ {{- style.documentclass -}} }

\usepackage{fontspec}
\usepackage{tocloft}
\usepackage{multicol}
\usepackage{geometry}
{% if style.twoside %}
\geometry{
    top={{ style.geometry.top }},
    bottom={{ style.geometry.bottom }},
    inner={{ style.geometry.left }},    % Binding side margin
    outer={{ style.geometry.right }},   % Outer margin
    twoside
}
{% else %}
\geometry{
    top={{ style.geometry.top }},
    bottom={{ style.geometry.bottom }},
    left={{ style.geometry.left }},
    right={{ style.geometry.right }}
}
{% endif %}
\setmainfont[Scale={{ style.font.scale }},AutoFakeBold={{ style.font.auto_fake_bold }},AutoFakeSlant={{ style.font.auto_fake_slant }}]{ {{- style.font.family -}} }

\usepackage{fancyhdr}
\pagestyle{fancy}
\fancyhf{} % Clear all header/footer fields
\fancyhead[LO]{\rightmark} % Recipe title on left (odd pages)
\fancyhead[RO]{\leftmark} % Chapter name on right (odd pages)
\fancyhead[LE]{\leftmark} % Chapter name on left (even pages)
\fancyhead[RE]{\rightmark} % Recipe title on right (even pages)
\fancyfoot[C]{\thepage} % Center page number in footer
\renewcommand{\headrulewidth}{0.4pt} % Add header rule
\renewcommand{\footrulewidth}{0pt} % Remove footer rule

{% for package in packages %}
{% if package not in ['fontspec', 'tocloft', 'multicol', 'geometry'] %}
\usepackage{ {{- package -}} }
{% endif %}
{% endfor %}

{% if index %}
\usepackage{makeidx}  % Load makeidx package first
\makeindex  % Initialize indexing
{% endif %}

{% raw %}
% Define dinkus command for recipe continuation markers
% Centers dinkus both vertically and horizontally in remaining whitespace
\newcommand{\dinkus}{%
    \vspace*{\fill}%
    \centerline{\textasteriskcentered\ \textasteriskcentered\ \textasteriskcentered}%
    \vspace*{\fill}%
}
{% endraw %}

\title{ {{- title -}} }
\author{ {{- authorship.author -}} }
\date{ {{- authorship.date -}} }

\begin{document}

% Title page
\maketitle
\thispagestyle{plain}
\vspace*{\fill}
\centerline{\hrulefill}
\vspace*{\fill}
\begin{center}
    Copyright © 2024-{{ authorship.copyright }} {{ authorship.author }}\\
    All rights reserved.
\end{center}

% Table of contents
\newpage 
\tableofcontents
\vspace*{\fill}
\hrulefill
\vspace*{\fill}
\newpage

{% if twoside %}
% Custom empty page handling for two-sided documents
\newcommand{\emptypage}{
    \newpage
    \thispagestyle{plain}
    \vspace*{\fill}
    \centerline{\hrulefill}
    \vspace*{\fill}
    \clearpage
}

% Automatically insert empty page with hrulefill when needed
\let\origchapter\chapter
\renewcommand{\chapter}{
    \ifnum\value{page}>1
        \ifodd\value{page}\else
            \emptypage
        \fi
    \fi
    \origchapter
}
{% endif %}

{% for section_name, recipes in sections.items() %}
\chapter{ {{- section_name|upper -}} }
\thispagestyle{plain}
\markboth{ {{- section_name|upper -}} }{ {{- section_name|upper -}} }

\vspace*{\fill}
\hrulefill
\vspace*{\fill}
\newpage

\thispagestyle{fancy}

{% for recipe in recipes %}
\begin{center}
\huge{ {{- recipe.title -}} } 
\normalsize
\end{center}

\markright{ {{- recipe.title -}} }
\addcontentsline{toc}{section}{ {{- recipe.title -}} }
\input{ {{- recipe.extracted_body -}} }

\vspace*{\fill}
\hrulefill
\vspace*{\fill}
\newpage
{% endfor %}

{% endfor %}

{% if index %}
% Index
\printindex
{% endif %}

{% if recently_modified %}
\appendix
\chapter{REVISIONS}
\thispagestyle{plain}
\markboth{REVISIONS}{REVISIONS}

\vspace*{\fill}
\hrulefill
\vspace*{\fill}
\newpage

\thispagestyle{fancy}

\begin{description}
{% for recipe in recently_modified %}
\item[ {{- recipe.title -}} ] \dotfill {{ recipe.date }}
{% endfor %}
\end{description}

\vspace*{\fill}
\hrulefill
\vspace*{\fill}
\newpage
{% endif %}

\end{document} 
